.gg-modal{
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 99;
}

.gg-modal-container{
  padding: 50px;
  overflow: auto;
  max-height: 100vh;
}

.relative{
  position: relative;
}

.top-right{
  position: absolute;
  right: 0;
  padding: 15px;
  top: 0;
}

select[tahun-style-2] > option:hover{
  background: white;
}
select[tahun-style-2]{
  padding: 5px;
  background: red;
  color: white;
}


.modal-select{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.body-select{
  width: 90%;
  min-width: 600px;
  height: 80%;
  min-height: 250px;
  background-color: rgba(0,0,0,.3);
  overflow-y: auto;
}

.hover-button-list{
  padding: 5px 10px;
  background-color: rgba(255,255,255,.8);
  cursor: pointer;
}

.hover-button-list:hover{
  background-color: #fff;
}
